* {
  /**/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  border: 1px solid black;
  background-color: rgb(154, 154, 154);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
.contaner {
  border: 1px solid black;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.box {
  height: 100px;
  width: 30px;
}

.box1 {
  background-color: red;
  align-self: center;
}
.box2 {
  background-color: green;
  align-self: flex-end;
}
.box3 {
  background-color: blue;
  align-self: center;
}
.box4 {
  background-color: yellow;
}

.contaner2 {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.card {
  flex: 1 1 300px;
  border: 1px solid black;
  background-color: gray;

  padding: 1rem;
  border-radius: 8px;
}
