* {
  /**/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid-contaner {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main ad"
    "footer footer footer";
  grid-template-columns: 1fr 6fr 2fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.header {
  grid-area: header;
  background-color: aquamarine;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  height: 10vh;
}
.sidebar {
  grid-area: aside;
  background-color: blueviolet;
  padding: 20px;
  font-size: 20px;
}
.main {
  grid-area: main;
  background-color: blanchedalmond;
}
.main .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
.main .container .box {
  background-color: gray;
  padding: 20px;
  border-radius: 8px;
}
.footer {
  grid-area: footer;
  background-color: brown;
  height: 10vh;
}
.ad {
  grid-area: ad;
  background-color: chartreuse;
}
